/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html,
body {
padding: 0;
margin: 0;
background: #fff;
letter-spacing: 1px;
font-family: 'Open Sans', sans-serif;
}
html {
scroll-behavior: smooth;
}
body a {
outline: none;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
text-decoration: none;
}
body a:hover {
text-decoration: none;
}
body a:focus,
a:hover {
text-decoration: none;
}
input[type="button"],
input[type="submit"] {
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
letter-spacing: 1px;
font-family: 'Open Sans', sans-serif;
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea,span{
font-family: 'Open Sans', sans-serif;
transition:0.5s all;
-webkit-transition:0.5s all;
-moz-transition:0.5s all;
-o-transition:0.5s all;
-ms-transition:0.5s all;
letter-spacing: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;
font-family: 'Playball', cursive;
letter-spacing: 1px;
}
p {
margin: 0;
padding: 0;
letter-spacing: 1px;
font-family: 'Open Sans', sans-serif;
}
ul {
margin: 0;
padding: 0;
list-style-type: none;
}

/*-- //Reset-Code --*/
h3.title {
    font-size:43px;
    color: #000;
    letter-spacing: 1px;
    font-weight:400;
    text-transform: capitalize;
	font-family: 'Righteous', cursive;
}
.service-wthree-grided h4 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: capitalize;
}
.blog-left-wthree h4 a, .footer-below-grids h4 {
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    color: #000;
}
.service-wthree-grided p,.blog-left-wthree p,.footer-below-grids p,.footer-below-grids p a{
    font-size: 14px;
    color:#4e4d4d;
    letter-spacing: 1px;
	line-height: 25px;
}
.banner-image-two p{color:#dedede;}
/* headder */
.logo {
    padding: 1em 4em;
}
.logo h1 a {
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1px;
    color: #e827ad;
    font-family: 'Righteous', cursive;
    display: block;
    float: left;
}
/* menu */
ul#menu {
    position: fixed;
    top: 19px;
    width: 2.5em;
    height: 2.5em;
    margin: 0;
    background: rgba(255, 255, 255, 0.47);
    color: #000;
    z-index: 99;
    right: 80px;
}
ul#menu>li {
    float: left;
    list-style-type: none;
    position: relative;
    width: 100%;
}

ul#menu label {
    position: relative;
    display: block;
    transition: background 0.3s;
    cursor: pointer;
    text-align: center;
    margin: 0;
	background: #f7f7f7;
}

ul#menu label span {
    line-height: 2.5em;
}

ul#menu input {
    display: none
}

/*show the second levele menu of the selected voice*/

ul#menu input:checked~ul.submenu {
    max-height: 360px;
    transition: max-height 0.5s ease-in;
}

/*style for the second level menu*/

ul.submenu {
    max-height: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background: #f7f7f7;
    transition: max-height 0.5s ease-out;
    position: absolute;
    min-width: 11em;
    right: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 8px rgba(20, 21, 21, 0.37);
    -webkit-box-shadow: 0 1px 8px rgba(20, 21, 21, 0.37);
    -moz-box-shadow: 0 1px 8px rgba(20, 21, 21, 0.37);
}

ul.submenu li a {
    display: block;
    padding: 9px;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

ul.submenu li a:hover,
ul.submenu li a.active {
    background:#de3aac;
    color: #fff;
}

/* //menu */
/* headder */
/*-- banner-- */
.banner-right-txt h4 {
    color: #fff;
    font-size: 3em;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.banner-two-img {
    position: absolute;
    width: 100%;
    /* background: #000; */
    z-index: 9;
}
.banner-right-txt p {
    color: #e0e0e0;
    font-weight: 600;
    font-size: 16px;
    /* text-shadow: 0px 1px 8px black; */
}
.banner-right-txt {
    background: url(../images/b2.jpg) no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    padding: 17em 9em 0em;
    min-height: 800px;
}

.banner-top-section{    background: url(../images/b3.jpg) no-repeat 0px 0px;}
.banner-bottom-section {
    background: url(../images/b4.jpg) no-repeat 0px 0px;
	}
.banner-top-section,.banner-bottom-section {
    padding: 9em 4em 0em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 400px;
}

 .banner-top-section h4,.banner-bottom-section h4{
    font-size: 32px;
    color: #fff;
    line-height: 45px;
}
/*.img-position img {
    position: absolute;
    top: 127px;
    width: 32%;
    margin: 0px auto;
    left: 38%;
}*/

.view-buttn a {
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 1px;
    outline: none;
    font-weight: 400;
    border-radius: 0px;
    background-color:#41ad6c;
    padding: 8px 15px;
    border: 2px solid #41ad6c;
}
/*--// banner-- */
/*--about--*/
.about-two-grids p {
    font-size: 15px;
    line-height: 29px;
    color: #8a8a8a;
}
.about-imgs-txt img {
    padding: 36px;
    background: #f1f1f1;
    color: black;
    box-shadow: 0 0 9px 0px #cecece;
}
/*--//about--*/

.service-wthree-grids {
    padding:4em 3em;
}
.color-one {
background: rgba(230, 90, 155, 0.8);
}
.color-two {
background: rgba(24, 168, 224, 0.8);
}
.color-three {
    background: rgba(199, 195, 49, 0.8);
}
.color-four {
background:rgba(236, 136, 19, 0.8);
}
.service-wthree-grided {
    padding: 7em 3em;
}
/*--// gallery-- */
/* popup */

.popup-effect {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

.popup-effect:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: #fff;
  border-radius: 4px;
  max-width: 430px;
  position: relative;
  margin: 3em auto;
  padding: 3em 2em;
  z-index: 999;
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 15px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.popup .close:hover {
  color: #686de0;
}
/* //popup */
/*--// gallery-- */
/*--blog--*/
.blog {
    background: #ec8813;
}
.blog-w3ls-grids {
    background: #ffffff;
    padding: 9em 1.5em 1.5em;
}
.blog-w3ls-grids img {
    position: absolute;
    top: -33px;
    width: 92%;
    left: 11px;
}
/*--//blog--*/
/* content */
.address_mail_footer_grids iframe {
    width: 100%;
    height: 15em;
    border: none;
}
.contact-forms input, .contact-forms textarea {
    font-size: 14px;
    color: #000;
    padding: .9em 1em;
    outline: none;
    border: 1px solid #000; 
    border-radius: 0px;
    outline: none;
    background: transparent;
}
.contact-forms textarea {
    resize: none;
    height: 11em;
}
.sent-butnn {
    width:100%;
    color: #fff;
    border: none;
    padding: 10px 0px;
    font-size: 16px;
    background: #000;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    cursor: pointer;
}
/* footer */
.footer-w3layouts-bottem {
    background: #080808;
}
.footer-head h2 a {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #ffffff;
    text-transform: capitalize;
}
.footer-titles p {
    font-size: 13px;
    line-height: 25px;
    color: #bbbbbb;
}
.social-icons ul li{
width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    margin: 0px 2px;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.social-icons ul li.facebook {background:#0078d7;}
.social-icons ul li.twitter{background:#1da1f2;}
.social-icons ul li.rss{background:#f26522;}
.social-icons ul li a span{
  color: #fff;
  font-size:13px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
}
.social-icons ul li{
    display: inline-block;
}
a.move-top span {
    display: inline-block;
    font-size: 35px;
    color: #fff;
}
/*--//footer--*/
/*--copy-right-- */
footer{background:#000;}
footer p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
}
footer p a {
    color: #ff5e00;
    font-size: 14px;
}
footer p a:hover{color:#fff;}
/*--//copy-right-- */
/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
.banner-right-txt {
    min-height: 680px;
}
.banner-top-section, .banner-bottom-section {
    min-height: 340px;
}
.banner-right-txt {
    padding: 15em 7em 0em;
	}
.banner-top-section, .banner-bottom-section {
    padding: 8em 4em 0em;
	}
	h3.title {
    font-size: 41px;
	}
	.about-imgs-txt img {
    padding: 33px;
	}
	.service-wthree-grided {
    padding: 6em 2.5em;
}
}
@media(max-width:1366px){
.logo h1 a {
    font-size: 38px;
}	
.banner-top-section h4, .banner-bottom-section h4 {
    font-size: 30px;
	}
	.banner-right-txt h4 {
    font-size: 2.7em;
	}
	.banner-right-txt {
    padding: 15em 6em 0em;
}
.service-wthree-grided h4 {
    font-size: 28px;
	}
	.footer-head h2 a {
    font-size: 33px;
	}
}
@media(max-width:1280px){
.banner-top-section, .banner-bottom-section {
    min-height: 300px;
}
.banner-right-txt {
    min-height: 600px;
}
.banner-top-section h4, .banner-bottom-section h4 {
    line-height: 39px;
}
.banner-top-section, .banner-bottom-section {
    padding: 7em 4em 0em;
}
.banner-right-txt {
    padding: 13em 4em 0em;
}
h3.title {
    font-size: 39px;
}
.service-wthree-grided {
    padding: 5em 2.2em;
}
.blog-left-wthree h4 a, .footer-below-grids h4 {
    font-size: 23px;}
.address_mail_footer_grids iframe {
    height: 13em;
	}
}
@media(max-width:1080px){
.banner-right-txt h4 {
    font-size: 2.5em;
}
.service-wthree-grided h4 {
    font-size: 26px;
}
.banner-right-txt p {
    font-size: 15px;
}	
.about-imgs-txt img {
    padding: 28px;
}
.service-wthree-grided h4 {
    font-size: 26px;
}
.service-wthree-grided {
    padding: 4em 1.8em;
}
.blog-w3ls-grids {
    padding: 8em 1em 1.5em;
}
.blog-left-wthree h4 a, .footer-below-grids h4 {
    font-size: 21px;
}
.contact-forms input, .contact-forms textarea {
    padding: .7em 1em;
}
.contact-forms textarea {
    height: 9em;
}
}
@media(max-width:1050px){
.banner-top-section h4, .banner-bottom-section h4 {
    font-size: 27px;
}
.banner-right-txt h4 {
    font-size: 2.2em;
}
h3.title {
    font-size: 38px;
}
.blog-w3ls-grids img {
    left: 9px;
}
}
@media(max-width:1024px){
.banner-top-section, .banner-bottom-section {
    min-height: 280px;
}	
.banner-right-txt {
    min-height: 560px;
}
.banner-top-section, .banner-bottom-section {
    padding: 6em 3em 0em;
}
.service-wthree-grided h4 {
    font-size: 24px;
}
.sent-butnn {
    font-size: 15px;
	}
.footer-head h2 a {
    font-size: 31px;
}
}
@media(max-width:991px){
.banner-left-txt.px-0 {
    display: flex;
}	
.banner-top-section, .banner-bottom-section {
    flex: 1;
}
.banner-right-txt {
    min-height: 440px;
}
.banner-right-txt {
    padding: 10em 4em 0em;
}
.about-two-grids {
    margin-top: 42px;
}
.service-wthree-grids {
    padding: 3em 3em;
}
.blog-w3ls-grids {
    padding: 12em 1em 1.5em;
    margin: 1em 0em;
}
.blog-w3ls-grids img {
    left: 13px;
}
}
@media(max-width:900px){
.logo {
    padding: .7em 3em;
}
ul#menu {
    right: 54px;
}	
h3.title {
    font-size: 36px;
}
.footer-head h2 a {
    font-size: 29px;
}
.contact-forms input, .contact-forms textarea {
    padding: .6em 1em;
}
}
@media(max-width:800px){
.banner-top-section h4, .banner-bottom-section h4 {
    font-size: 25px;
    line-height: 33px;
}
.blog-w3ls-grids {
    padding: 11.5em 1em 1.5em;
}	
.address_mail_footer_grids iframe {
    height: 12em;
}
}
@media(max-width:768px){
	.banner-top-section, .banner-bottom-section {
    min-height: 260px;
}
.banner-right-txt {
    min-height: 407px;
    padding: 9em 4em 0em;
}
.banner-right-txt h4 {
    font-size: 2em;
}
.about-imgs-txt img {
    padding: 26px;
}
}
@media(max-width:767px){
.logo h1 a {
    font-size: 34px;
}
h3.title {
    font-size: 34px;
}	
.blog-w3ls-grids {
    padding: 8.5em 1em 1.5em;
}
.blog-w3ls-grids img {
    left: 9px;
}
.contact-txt-wthree{text-align:center;}
}
@media(max-width:736px){
.about-imgs-txt img {
    padding: 22px;
}
.service-wthree-grided {
    padding: 3em 1.8em;
}
.service-wthree-grided p, .blog-left-wthree p, .footer-below-grids p, .footer-below-grids p a {
    font-size: 13px;
    line-height: 22px;
}	
.address_mail_footer_grids iframe {
    height: 11em;
}
.contact-forms input, .contact-forms textarea {
    padding: .6em .8em;
}
}
@media(max-width:667px){
.banner-top-section h4, .banner-bottom-section h4 {
    font-size: 23px;
}
.banner-top-section, .banner-bottom-section {
    padding: 6em 2em 0em;
}
.banner-right-txt {
    min-height: 355px;
    padding: 8em 4em 0em;
}
.banner-right-txt p {
    font-size: 14px;
}	
h3.title {
    font-size: 32px;
}
.blog-w3ls-grids {
    padding: 8em 1em 1.5em;
}
}
@media(max-width:640px){
.banner-right-txt {
    padding: 8em 3em 0em;
}
.contact-forms textarea {
    height: 8em;
}
.sent-butnn {
    padding: 8px 0px;	
	}
}
@media(max-width:600px){
.banner-right-txt h4 {
    letter-spacing: 1px;
}	
.banner-right-txt h4 {
    font-size: 1.8em;
}
.footer-head h2 a {
    font-size: 27px;
}
}
@media(max-width:568px){
.banner-top-section, .banner-bottom-section {
    min-height: 239px;
	padding: 5.5em 2em 0em;
}
.banner-right-txt {
    min-height: 318px;
    padding: 7em 3em 0em;
}
.service-wthree-grided {
    padding: 2em 1.8em;
}
.gallery-img-grid{
    width: 50%;
}	
.blog-w3ls-grids img {
    position: inherit;
    top: 0px;
    width:100%;
	padding-bottom: 1.5em;
    left: 0px;
}
.blog-w3ls-grids {
    padding: 1em 1em 1.5em;
}
}
@media(max-width:480px){
.logo {
    padding: 1em 2em;
}
ul#menu {
    right: 35px;
}
.banner-right-txt h4 {
    font-size: 1.7em;
}
.banner-right-txt {
    padding: 7em 1.2em 0em;
}	
h3.title {
    font-size: 30px;
}
footer p {
    letter-spacing: 1px;
}
.blog-w3ls-grids {
    margin: 0em 0em;
}
}
@media(max-width:440px){
.banner-left-txt.px-0 {
    flex-direction: column;
}	
.banner-right-txt {
    padding: 5em 1.2em 0em;
}
.about-imgs-txt img {
    padding: 18px;
}
.about-two-grids {
    margin-top: 37px;
}
}
@media(max-width:414px){
ul.submenu li a {
    padding: 7px;
    font-size: 14px;
}	
.address_mail_footer_grids iframe {
    height: 10em;
}
}
@media(max-width:384px){
.logo {
    padding: 1em 1em;
}
ul#menu {
    right: 20px;
}
.service-wthree-grided h4 {
    font-size: 23px;
}
.sent-butnn {
    font-size: 14px;
}	
}
@media(max-width:375px){
.logo h1 a {
    font-size: 32px;
}
.banner-right-txt {
    min-height: 299px;
}
.banner-right-txt {
    padding: 4em 1.2em 0em;
}	
}
@media(max-width:320px){
.contact-forms input, .contact-forms textarea {
    padding: .5em .8em;
}
.contact-forms textarea {
    height: 7em;
}
.address_mail_footer_grids iframe {
    height: 9em;
}
h3.title {
    font-size: 29px;
}	
}
/*--//responsive--*/